h1{
    color: red;
    text-align: center;
    font-size: 20px;
}

ul{
    list-style-type: square;
    color: blue;
}

ul ul{
    color: orange;
    list-style-type: circle;
}

body{
    border: 1px solid black;
    margin: auto;
}
